html {
    height: 100%;
}

body {
  font: 25px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 100%;
  overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
